<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Форма зміни паролю</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="passwordForm" class="profile-form">
        <mat-form-field>
          <mat-label>Введіть ваш пароль</mat-label>
          <input formControlName="oldPassword" matInput placeholder="Ваш пароль" type="password">
          <mat-error *ngIf="passwordForm.controls['oldPassword'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Введіть новий пароль</mat-label>
          <input formControlName="newPassword" matInput placeholder="Ваш новий пароль" type="password">
          <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Введіть підвердіть новий пароль</mat-label>
          <input formControlName="confirmPassword" matInput placeholder="Введіть новий пароль щераз" type="password">
          <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="changePassword()" [disabled]="!passwordForm.valid" color="primary" mat-raised-button>Змінити пароль
      </button>
    </mat-card-actions>
  </mat-card>
</div>
