<ng-container [ngSwitch]="authSelected">
  <mat-card *ngSwitchCase="'login'" class="authorization">
    <mat-card-header>
      <mat-card-title>Авторизація</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="authorizationForm" class="form">
        <mat-form-field>
          <mat-label>Юзернейм</mat-label>
          <input formControlName="username" matInput placeholder="Введіть юзернейм"
                 type="text">
          <mat-error *ngIf="authorizationForm.controls['username'].hasError('required')">
            Поле "Юзерейм" <strong>бов'язкове</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input formControlName="password" matInput type="password">
          <mat-error *ngIf="authorizationForm.controls['password'].hasError('required')">
            Поле "Пароль" <strong>обов'язкове</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="setAuthSelected('register')" mat-button>У вас ще немає акаунту? Зараєструватись</button>
      <button (click)="login()" [disabled]="!authorizationForm.valid" mat-button>Логін</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngSwitchCase="'register'" class="authorization">
    <mat-card-header>
      <mat-card-title>Реєстрація</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="authorizationForm" class="form">
        <mat-form-field>
          <mat-label>Юзернейм</mat-label>
          <input formControlName="username" matInput placeholder="Введіть юзернейм"
                 type="text">
          <mat-error *ngIf="authorizationForm.controls['username'].hasError('required')">
            Поле "Юзерейм" <strong>бов'язкове</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input formControlName="password" matInput type="password">
          <mat-error *ngIf="authorizationForm.controls['password'].hasError('required')">
            Поле "Пароль" <strong>обов'язкове</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ім'я</mat-label>
          <input formControlName="firstName" matInput type="text">
          <mat-error *ngIf="authorizationForm.controls['firstName'].hasError('required')">
            Поле "Ім'я" <strong>обов'язкове</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Фамілія</mat-label>
          <input formControlName="lastName" matInput type="text">
          <mat-error *ngIf="authorizationForm.controls['lastName'].hasError('required')">
            Поле "Фамілія" <strong>обов'язкове</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="setAuthSelected('login')" mat-button>У вас є акаунт? Увійти</button>
      <button (click)="register()" [disabled]="!authorizationForm.valid" mat-button>Зареєструватись</button>
    </mat-card-actions>
  </mat-card>
</ng-container>



