.cart-container {
  padding: 20px;
  margin-top: 30px;
  height: calc(100vh - 64px - 40px - 50px);

  .total {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    h4 {
      margin: 0;
    }
  }

  .cart-content {
    width: 100%;
    margin-bottom: 30px;
  }

  .products {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;

    .products--card {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      width: 300px;

      .title {
        width: 100%;
      }

      .content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .price {
          flex: 0 1 auto;
          text-align: end;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}


