<main *ngIf="cart$ | ngrxPush as cart" class="cart-container">
  <div *ngIf="cart.products?.length; else cartEmpty">
    <div class="cart-content">
      <mat-card>
        <mat-card-title>Ваш кошик</mat-card-title>
        <mat-card-content>
          <p>Тут ви можете редагувати ваше замовлення</p>
          <a [routerLink]="'/'">Продовжити покупки</a>
        </mat-card-content>
      </mat-card>
    </div>
    <section class="selected-products">
      <h4>Вибрані товари</h4>
      <div class="products">
        <mat-card *ngFor="let product of cart.products" [routerLink]="'/' +product.url"
                  class="products--card">
          <mat-card-header>
            <mat-card-title class="title">{{product.title}}</mat-card-title>
          </mat-card-header>
          <img [src]="product.image || placeholderImages.productImage" alt="{{product.title}} image" height="150" mat-card-image
               width="150">
          <mat-card-content class="content">
            <p style="flex: 1 1 auto">
              {{product.description}}
            </p>
            <p class="price">
              {{product.price}} ₴
            </p>
          </mat-card-content>
          <mat-card-actions (click)="$event.stopPropagation()" class="actions">
            <div class="actions-qty">
              <button (click)="changeProductQty(product.id, true)" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
              <button (click)="changeProductQty(product.id, false)" mat-icon-button>
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <span *ngIf="(cart.products | getCartProduct: product.id) as cartProduct">К-сть: {{cartProduct.qty}},
              Загалом: {{cartProduct.totalPrice}}</span>
            <button (click)="removeFromCart(product)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

    </section>

    <section class="total">
      <h4>Загалом: {{cart.totalPrice}}</h4>

      <button *ngIf="authService.isAuth;else unauthorized" [routerLink]="'/order'" color="primary" mat-raised-button>Перейти до оформлення</button>
    </section>

  </div>
</main>


<ng-template #cartEmpty><span style="text-align: center; width: 100%">Ваш кошик порожній</span></ng-template>
<ng-template #unauthorized><a [routerLink]="'/authorization'">Будь-ласка авторизуйтесь</a></ng-template>
