.cart-container {
  padding: 20px;
  margin-top: 30px;
  overflow: hidden;
  .total {
    display: flex;
    align-items:center;
    justify-content: flex-end;
  }
  .cart-content {
    width:100%;
    margin-bottom: 30px;
  }
  .products {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    .products--card {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      width: 100%;

      .title {
        width: 100%;
      }

      .content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .price {
          flex: 0 1 auto;
          text-align: end;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}


