<div class="category-description">
  <p>

  </p>
</div>

<div *ngIf="productsDataSource.length !== 0; else noProducts" [ngStyle]="{'justify-content': productsAlign}"
     class="products">
  <mat-card *ngFor="let product of productsDataSource" [routerLink]="'/' + product.url"
            class="products--card">
    <img [src]="product?.image || mockImage" alt="{{product.title}} image" height="150" mat-card-image width="150">
    <mat-card-header>
      <mat-card-title class="title">{{product.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <p class="description" style="flex: 1 1 auto">
        {{product.description}}
      </p>
      <p class="price">
        {{product.price}} ₴
      </p>
    </mat-card-content>
    <mat-card-actions (click)="$event.stopPropagation()" class="actions">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <ng-container *ngrxLet="(cartProducts | isProductInCart: product.id) as isProductInCart">
        <button (click)="addProductToCart(product)"
                *ngIf="!isProductInCart && product.user?.id !== userId"
                mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button *ngIf="isProductInCart && product.user?.id !== userId"
                [routerLink]="'/cart'"
                mat-icon-button>
          <mat-icon>done</mat-icon>
        </button>
        <button *ngIf="product.user.id === userId"
                [routerLink]="'/profile/edit-item'"
                mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<mat-paginator
  #paginator
  (page)="pageEvent = getData($event)"
  *ngIf="productsItems.length > pageSize"
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize" aria-label="Select page">
</mat-paginator>


<ng-template #noProducts>Немає оголошень</ng-template>
