<div class="category-description">
  <p>

  </p>
</div>

<div class="products" [ngStyle]="{'justify-content': productsAlign}" *ngIf="productsDataSource.length !== 0; else noProducts">
  <mat-card class="products--card" *ngFor="let product of productsDataSource"
            [routerLink]="'/products/item/' + product.url">
    <mat-card-header>
      <mat-card-title class="title">{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product?.image || mockImage" alt="{{product.title}} image" width="150" height="150">
    <mat-card-content class="content">
      <p style="flex: 1 1 auto">
        {{product.description}}
      </p>
      <p class="price">
        {{product.price}} ₴
      </p>
    </mat-card-content>
    <mat-card-actions class="actions" (click)="$event.stopPropagation()">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <ng-container *ngrxLet="(cartProducts | isProductInCart: product.id) as isProductInCart">
        <button *ngIf="!isProductInCart"
                (click)="addProductToCart(product)"
                mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button *ngIf="isProductInCart"
                [routerLink]="'/cart'"
                mat-icon-button>
          <mat-icon>done</mat-icon>
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<mat-paginator
  *ngIf="productsItems.length > pageSize"
  [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = getData($event)"
               aria-label="Select page" #paginator>
</mat-paginator>


<ng-template #noProducts>Немає оголошень</ng-template>
