<div class="category-description">
  <p>

  </p>
</div>

<div *ngIf="productsDataSource?.length !== 0; else noProducts" [ngStyle]="{'justify-content': productsAlign}"
     class="products">
  <mat-card *ngFor="let product of productsDataSource" [routerLink]="'/' + product.url"
            class="products--card">
    <img [src]="product?.image || placeholderImages.productImage" alt="{{product.title}} image" height="150" mat-card-image width="150">
    <mat-card-header>
      <mat-card-title class="title">{{product.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <p class="description" style="flex: 1 1 auto">
        {{product.description}}
      </p>
      <p class="price">
        {{product.price}} {{product.currency.title}}
      </p>
    </mat-card-content>
    <mat-card-actions (click)="$event.stopPropagation()" class="actions">
      <a *ngIf="!!product.user as user" class="product-owner-container"
         [routerLink]="'/profile/' + product.user.username">
        <img [src]="product.user.profilePicture || placeholderImages.userImage" [alt]="product.user.username">
        <span class="product-owner-title">
            <strong class="owner-title">{{product.user.firstName}} {{product.user.lastName}}</strong> {{product.user.username}}
          </span>
      </a>
      <ng-container *ngrxLet="(cartProducts | isProductInCart: product.id) as isProductInCart">
        <button (click)="addProductToCart(product)"
                *ngIf="!isProductInCart && product.user?.id !== userId"
                mat-icon-button>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button *ngIf="isProductInCart && product.user?.id !== userId"
                [routerLink]="'/cart'"
                mat-icon-button>
          <mat-icon>done</mat-icon>
        </button>
        <ng-container>
          <button *ngIf="product.user.id === userId"
                  (click)="editProduct(product.slug)"
                  [routerLink]="'/profile/edit-item'"
                  mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<mat-paginator
  *ngIf="productsDataSource?.length !== 0"
  #paginator
  (page)="pageEvent = getData($event)"
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize" aria-label="Select page">
</mat-paginator>


<ng-template #noProducts>Немає товарів</ng-template>
