@import url('.././products.component.scss');

.products {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  gap: 10px 10px;
  padding-bottom: 3px;
}

.product-owner-container {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: flex-end;

  .product-owner-title {
    display: flex;
    flex-direction: column;
    .owner-title {
      color: black;
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.description {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

