<div class="products-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Форма створення нового товару</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm" class="products-form">
        <mat-form-field>
          <mat-label>Назва</mat-label>
          <input formControlName="title" matInput placeholder="Назва оголошення">
          <mat-error *ngIf="productForm.controls['title'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Опис</mat-label>
          <input formControlName="description" matInput placeholder="Опис оголошення">
          <mat-error *ngIf="productForm.controls['description'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Категорія</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories$ | ngrxPush" [value]="category">
              {{category.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.controls['category'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Валюта</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencies$ | ngrxPush" [value]="currency">
              {{currency.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.controls['category'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ціна</mat-label>
          <input formControlName="price" type="number" matInput placeholder="Ціна оголошення">
          <mat-error *ngIf="productForm.controls['price'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
          <mat-error *ngIf="productForm.controls['price'].hasError('min')">
            Ціна не може бути нижча за 0
          </mat-error>
        </mat-form-field>
        <app-file-upload formControlName="photo"></app-file-upload>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="createProduct()" [disabled]="!productForm.valid" color="primary" mat-raised-button>Створити
        оголошення
      </button>
    </mat-card-actions>
  </mat-card>
</div>
