<ng-container *ngrxLet="user$ | ngrxPush as user">
  <div *ngIf="product$ | ngrxPush as product" class="products-container">
    <div class="product">
      <mat-card *ngIf="product?.id;else noProduct" class="products--card">
        <ng-image-slider
          [animationSpeed]="0.5"
          [imageSize]="{width: 300, height: 300}"
          [images]="product.images | imageForSlider:product.title"
        ></ng-image-slider>
        <mat-card-content class="content">
          <p class="price">
            {{product?.price}} {{product.currency.title}}
          </p>
        </mat-card-content>
        <mat-card-actions (click)="$event.stopPropagation()" class="actions">
          <a *ngIf="!!product.user as user" class="product-owner-container"
             [routerLink]="'/profile/' + product.user.username">
            <img [src]="product.user.profilePicture || placeholderImages.userImage" [alt]="product.user.username">
            <span class="product-owner-title">
            <strong
              class="owner-title">{{product.user.firstName}} {{product.user.lastName}}</strong> {{product.user.username}}
          </span>
          </a>
          <ng-container *ngrxLet="($any(cartProducts$ |ngrxPush) | isProductInCart: product.id) as isProductInCart">
            <button (click)="addProductToCart(product)"
                    *ngIf="!isProductInCart && product.user?.id !== user?.id"
                    mat-icon-button>
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <button *ngIf="isProductInCart && product.user?.id !== user?.id"
                    [routerLink]="'/cart'"
                    mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <ng-container>
              <button *ngIf="product.user.id === user?.id"
                      (click)="editProduct(product.slug)"
                      [routerLink]="'/profile/edit-item'"
                      mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
          </ng-container>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="product-page-content">
      <mat-card>
        <mat-card-title>{{product?.title}}</mat-card-title>
        <mat-card-content>
          <p class="description" style="flex: 1 1 auto">
            <strong>Oпис: </strong> {{product?.description}}
          </p>
          <div class="owner" *ngIf="!!product.user">
            <strong>Продавець: </strong> <a
            [routerLink]="'/profile/' + product.user.username">{{product.user.username}}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template #noProduct>Отакої, щось пішло не так</ng-template>
</ng-container>
