@import url('.././products.component.scss');

.products-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-left: 75px;
  .product-page-content {
    padding: 20px;
    margin-top: 30px;
  }
  .product {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .products--card {
      height: 350px;
      width: 300px;
    }
  }
}
