<div *ngIf="product$ | ngrxPush as product" class="products-container">
  <div class="product">
    <mat-card *ngIf="product?.id;else noProduct" class="products--card">
      <ng-image-slider
        [animationSpeed]="0.5"
        [imageSize]="{width: 300, height: 300}"
        [images]="product.images | imageForSlider:product.title"
      ></ng-image-slider>
      <mat-card-content class="content">
        <p class="price">
          {{product?.price}} ₴
        </p>
      </mat-card-content>
      <mat-card-actions (click)="$event.stopPropagation()" class="actions">
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <ng-container *ngrxLet="($any(cartProducts$ |ngrxPush) | isProductInCart: product.id) as isProductInCart">
          <button (click)="addProductToCart(product)"
                  *ngIf="!isProductInCart"
                  mat-icon-button>
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button *ngIf="isProductInCart"
                  [routerLink]="'/cart'"
                  mat-icon-button>
            <mat-icon>done</mat-icon>
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="product-page-content">
    <mat-card>
      <mat-card-title>{{product?.title}}</mat-card-title>
      <mat-card-content>
        <p class="description" style="flex: 1 1 auto">
          <strong>Oпис:</strong> {{product?.description}}
        </p>
        <div class="owner">
          <strong>Продавець:</strong> <a
          [routerLink]="'/profile' + product.user.id">{{product.user.firstName}} {{product.user.lastName}}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noProduct>Отакої, щось пішло не так</ng-template>
