@import url('.././products.component.scss');

.products-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-left: 75px;

  .product-page-content {
    padding: 20px;
    margin-top: 30px;

    width: 800px;
  }

  .product {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .products--card {
      height: 300px;
      width: 300px;
    }

    .product-image {
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}
