<ng-container *ngrxLet="authFacade.user$ | ngrxPush as authUser">
  <div class="profile-actions" *ngrxLet="user$ | ngrxPush as user">
    <mat-card class="card" *ngIf="!username">
      <div class="user-profile-header">
        <div>
          <mat-card-header>
            <mat-card-title>Редагувати профіль</mat-card-title>
            <mat-card-subtitle>Налаштувати</mat-card-subtitle>
          </mat-card-header>
        </div>
        <div>
          <button [routerLink]="'/profile/change-password'" color="primary" mat-raised-button>Змінити пароль</button>
          <button style="margin-left: 10px" [routerLink]="'/profile/edit-profile'" color="primary" mat-raised-button>
            Редагувати профіль
          </button>
        </div>
      </div>
    </mat-card>

    <mat-card class="card" *ngIf="!username">
      <div class="user-profile-header">
        <div>
          <mat-card-header>
            <mat-card-title>Мої товари</mat-card-title>
            <mat-card-subtitle>Налаштувати</mat-card-subtitle>
          </mat-card-header>
        </div>
        <div>
          <button [routerLink]="'/profile/add-item'" color="primary" mat-raised-button>Добавити товар</button>
        </div>
      </div>
      <mat-card-content>
        <app-products-display
          [maxPageSize]="3"
          [productsAlign]="'start'"
          [products]="$any(userProducts$ | ngrxPush)"
          [userId]="authUser?.id"></app-products-display>
      </mat-card-content>
    </mat-card>

    <ng-container *ngrxLet="userOrders$ | ngrxPush as userOrders">

    <mat-card class="card" *ngIf="!username">
      <mat-card-header>
        <mat-card-title>Мої замовлення</mat-card-title>
        <mat-card-subtitle>Переглянути</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-accordion  multi *ngIf="userOrders?.length !== 0;else noData">
          <mat-expansion-panel *ngFor="let order of userOrders" class="panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{order.timeCreated | date}}</h4>
              </mat-panel-title>
              <mat-panel-description>
                <div class="order-description">
                  <h4>Кількість товарів: {{order.productsQuantity}}</h4>
                  <h4>Загальна ціна: {{order.totalPrice}}</h4>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="expanded">
              <mat-card *ngFor="let product of order.products" [routerLink]="'/' +product.url"
                        class="products--card">
                <mat-card-header>
                  <mat-card-title class="title">{{product.title}}</mat-card-title>
                </mat-card-header>
                <img [src]="product.image" alt="{{product.title}} image" height="150" mat-card-image
                     width="150">
                <mat-card-content class="content">
                  <p style="flex: 1 1 auto">
                    Опис: {{product.description}}
                  </p>
                  <p>
                    Кількість: {{product.qty}}

                  </p>
                  <p>
                    Статус: {{product.status}}
                  </p>
                  <p class="price">
                    Загальна ціна: {{product.totalPrice}} {{product.currency.title}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    </ng-container>
    <ng-container *ngrxLet="userSells$ | ngrxPush as userSells">

      <mat-card class="card" *ngIf="!username">
        <mat-card-header>
          <mat-card-title>Мої продажі</mat-card-title>
          <mat-card-subtitle>Переглянути</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >

          <mat-accordion class="example-headers-align" multi *ngIf="userSells?.length !== 0;else noData">
            <mat-expansion-panel *ngFor="let sell of userSells" class="panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{sell.timeCreated | date}}
                </mat-panel-title>
                <mat-panel-description>
                  <div class="order-description">
                    <h4>Кількість товарів: {{sell.productsQuantity}}</h4>
                    <h4>Загальна ціна: {{sell.totalPrice}}</h4>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="expanded">
                <mat-card *ngFor="let product of sell.products"
                          class="products--card">
                  <mat-card-header>
                    <mat-card-title class="title">{{product.title}}</mat-card-title>
                  </mat-card-header>
                  <img [src]="product.image" alt="{{product.title}} image" height="150" mat-card-image
                       width="150">
                  <mat-card-content class="content">
                    <p style="flex: 1 1 auto">
                      Опис: {{product.description}}
                    </p>
                    <p>
                      Кількість: {{product.qty}}
                    </p>
                    <p style="margin-bottom: 5px">
                      Покупець: <a [routerLink]="'/profile/' + sell.user.username">{{sell.user.firstName}} {{sell.user.lastName}}</a>
                    </p>
                    <form [formGroup]="orderProductStatusForm">
                      <mat-form-field >
                        <mat-label>Статус</mat-label>
                        <mat-select [formControl]="getFormControl(product.id)">
                          <mat-option value="В процесі">
                            В процесі
                          </mat-option>
                          <mat-option value="Відправлено">
                            Відправлено
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="getFormControl(product.id).hasError('required')">
                          Це поле обов'язкове
                        </mat-error>
                      </mat-form-field>
                    </form>
                    <p class="price">
                      Загальна ціна: {{product.totalPrice}} {{product.currency.title}}
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <mat-card class="card" *ngIf="username">
      <div class="user-profile-header">
        <div>
          <mat-card-header>
            <mat-card-title>Товари користувача</mat-card-title>
          </mat-card-header>
        </div>
      </div>
      <mat-card-content>
        <app-products-display
          [maxPageSize]="3"
          [productsAlign]="'start'"
          [products]="$any(userProducts$ | ngrxPush)"
          [cartProducts]="$any(cartProducts$ | ngrxPush)"
          [userId]="authUser?.id"></app-products-display>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-template #noData>Пусто</ng-template>
