<mat-drawer-container class="container">
  <mat-drawer #drawer>
    <div class="drawer-content">
      <mat-card>Simple card</mat-card>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span [routerLink]="'/'" style="cursor: pointer;">AK-19-03 marketplace</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="favorite icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="cart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">

    </footer>
  </mat-drawer-content>
</mat-drawer-container>
