
.container {
  height: 100vh;

  .drawer-content {
    padding: 10px;
  }

  .mat-drawer-content {
    display: flex;
    flex-direction: column;

    .example-spacer {
      flex: 1 1 auto;
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: #000;
}
