.order {
  display: flex;
  justify-content:center;
  height: calc(100vh - 150px);
  gap: 20px;
  padding: 70px 10px 10px;

  .order-form {
    max-width: 700px;
  }
  .products {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    max-width: 365px;
    .products--card {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      width: 300px;

      .title {
        width: 100%;
      }

      .content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .price {
          flex: 0 1 auto;
          text-align: end;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }

}

.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 10px;
}
