@import url('.././profile.component.scss');

.products-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 10px;
}

.user-profile-header {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
