<div class="container" *ngrxLet="user$ | ngrxPush as user">
  <mat-card>
    <div class="user-profile-header">
      <div>
        <mat-card-header>
          <mat-card-title>Форма редагування профілю</mat-card-title>
        </mat-card-header>
      </div>
      <div>
        <button (click)="deleteProfilePicture($any(user?.username))" [disabled]="!user?.profilePicture?.length"  color="warn" mat-raised-button>Видалити фото профілю</button>
      </div>
    </div>
    <mat-card-content>
      <form [formGroup]="profileForm" class="profile-form">
        <mat-form-field>
          <mat-label>Юзернейм</mat-label>
          <input formControlName="username" matInput placeholder="Ваш новий юзернейм">
          <mat-error *ngIf="profileForm.controls['username'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ім'я</mat-label>
          <input formControlName="firstName" matInput placeholder="Змінити ім'я">
          <mat-error *ngIf="profileForm.controls['firstName'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Фамілія</mat-label>
          <input formControlName="lastName" matInput placeholder="Змінити фамілію">
          <mat-error *ngIf="profileForm.controls['lastName'].hasError('required')">
            Це поле обов'язкове
          </mat-error>
        </mat-form-field>
        <app-file-upload formControlName="photo"></app-file-upload>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="editProfile()" [disabled]="!profileForm.valid" color="primary" mat-raised-button>Зберегти
      </button>
    </mat-card-actions>
  </mat-card>
</div>

