::ng-deep {

  .profile-container {
    padding: 20px;
    margin-top: 30px;
    height: calc(100vh - 64px - 40px - 30px);
    overflow-x: hidden;

    .profile-content {
      display: flex;
      gap: 10px;

      .profile-options {
        width: 100%;
      }
      .user-card {
        width: 100%;
        max-width: 400px;
      }

      .card {
        width: 100%;

        .user-profile-header {
          padding-right: 30px;
          display: flex;
          justify-content: space-between;
        }
      }

      .profile-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }
    }
  }

  .profile-products {
    .products {
      justify-content: start !important;
    }
  }
}
