<div *ngrxLet="user$ | ngrxPush as user" class="profile-container">
  <div class="profile-content">
    <mat-card class="user-card">
      <mat-card-header>
        <mat-card-title-group style="width: 100%">
          <mat-card-title>{{user?.firstName}} {{user?.lastName}}</mat-card-title>
          <mat-card-subtitle>{{user?.username}}</mat-card-subtitle>
          <img mat-card-md-image [src]="user?.profilePicture || 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

    <div class="profile-options">
    <router-outlet></router-outlet>

    </div>
  </div>
</div>
