<div *ngrxLet="user$ | ngrxPush as user" class="profile-container">
  <div class="profile-content">
    <mat-card class="user-card">
      <ng-container *ngIf="!!username && user?.username || !username && user?.username; else noProfileFound">
        <mat-card-header>
          <mat-card-title-group style="width: 100%">
            <mat-card-title>{{user?.firstName}} {{user?.lastName}}</mat-card-title>
            <mat-card-subtitle>{{user?.username}}</mat-card-subtitle>
            <img mat-card-md-image [src]="user?.profilePicture || placeholderImages.userImage">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <div class="rate-info">
            <p>Користувачів оцінило: {{user?.persons}}</p>
            <p class="stars">Cередня оцінка: {{user?.stars}}
              <svg height="25" width="23" class="star rating selected">
                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
              </svg>
            </p>
          </div>
          <ng-container *ngIf="!!username && user?.username !== userId">

            <strong>Ваша оцінка</strong>
            <form [formGroup]="profileRateForm">
              <app-star-rating formControlName="rating"></app-star-rating>
            </form>
          </ng-container>
        </mat-card-content>
      </ng-container>
    </mat-card>

    <div class="profile-options">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>

<ng-template #noProfileFound>
  <mat-card-header>
    Користувача з нікнеймом {{username}} не знайдено
  </mat-card-header>
</ng-template>
