::ng-deep {

  .profile-container {
    padding: 20px;
    margin-top: 30px;
    height: calc(100vh - 64px - 40px - 30px);
    overflow-x: hidden;

    .rate-info {
      display: flex;
      flex-direction: column;
    }

    .profile-content {
      display: flex;
      gap: 10px;


      .profile-options {
        width: 100%;
      }
      .user-card {
        width: 100%;
        max-width: 400px;
      }

      .card {
        width: 100%;

        .user-profile-header {
          padding-right: 30px;
          display: flex;
          justify-content: space-between;
        }
      }

      .profile-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }
    }
  }
}

.products {
  max-width: 1000px;
  overflow-y: scroll !important;
  justify-content: start !important;
  flex-wrap: nowrap !important;
}

.stars {
  display: flex;
  align-items: center;
}
.stars:hover .star polygon {
  fill: #ffd055 !important;
}
.stars.disabled:hover {
  cursor: not-allowed;
}
.stars.disabled:hover .star polygon {
  fill: #d8d8d8 !important;
}
.stars .star {
  padding: 5px;
}
.stars .star polygon {
  fill: #d8d8d8;
}
.stars .star:hover ~ .star polygon {
  fill: #d8d8d8 !important;
}
.stars .star.selected polygon {
  fill: #ffd055 !important;
}
